<% var ctx = arguments[0];%>
<div class="imgcontainer">
    <img src="<%= ctx.artist_photo || '/img/no-cover-art.png' %>" class="artistImage" alt="Artist Image">
    <img src="<%= ctx.cover || '/img/no-cover-art.png' %>" class="cover" alt="Album Art">
</div>
<% if (ctx && ctx.duration) {%>

<div class="trackInfo">
    <h2 class="artist"><%= ctx.artist %></h2>
    <h3 class="title"><%= ctx.title %></h3>
    <em class="year"><%= ctx.year %></em>
    <% var seconds = ctx.duration/1000; %>
    (<span class="duration"><%= Math.floor(seconds/60) %>:<%= Math.floor(seconds%60) %></span>)
</div>
<% } %>